<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>centyuan</title>
    <meta name="viewport",content="width=device-width,initial-scale=1">
{#    <link rel="stylesheet" href="/static/css/bootstrap.css">#}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.0.2/echarts-en.min.js"></script>
    <link rel="icon" href="/static/img/favicon_centyuan.ico" type="img/x-ico">
    <link rel="stylesheet" href="/static/css/domain.css">
     <!--
    <link rel="stylesheet",href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    jQuery文件。务必在bootstrap.min.js 之前引入
    <script src="https://cdn.staticfile.orgs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></scrpt>
    -->

</head>
<body>
    <div class="headband"></div>
            <div class="container" style="width: 100%">
                    <div class="row">

                             {% include "base.html" %}

                        <div class="col-md-8"  style="background-color: #FFFFFF; margin-left: 15px">

                          {% include "top_header.html" %}

                            <div class="content-wrap">

                                 <div class="home-block" style="min-height: 480px;margin-top: 40px">
                                    <ul id="myTab" class="nav nav-tabs" style="font-size: 20px">
                                        <li class="active">
                                            <a href="#home" data-toggle="tab">
                                                公众号
                                            </a>
                                        </li>
                                        <li><a href="#trend" data-toggle="tab">访问量</a></li>
                                        <li><a href="#read" data-toggle="tab">阅读榜</a></li>
                                        <li><a href="#new" data-toggle="tab">最新推荐</a></li>

                                    </ul>
                                    <div id="myTabContent" class="tab-content">

                                         <div class="tab-pane fade in active" id="home">

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <img style="width: 100%; max-width: 15em;" src="/static/img/public_number.jpg">
                                                </div>
                                                <div class="col-sm-8">
                                                    <h4 style="margin-bottom: 0em;margin-top: 1em;font-weight: bolder;">
                                                        She is convinced that her path will come by herself
                                                    </h4>
                                                    <p style="margin-bottom: 2em;">
                                                        “做你最不愿做的事情，对抗你不愿意对抗的事情，把自己摆在一个不舒服的位置，才是人性之光”
                                                    </p>
                                                    <p>公众号用来分享博客的。

                                                        <br>完全从网站上获取。<br>~</p>
                                                </div>
                                            </div>

                                    </div>

                                         <div class="tab-pane fade" id="trend">

                                           <div id="visitNum" style="width: 700px;height: 400px"></div>

                                         </div>

                                         <div class="tab-pane fade" id="read" style="margin-top: 20px">

                                                <ul class="list" style="font-size: 16px">
                                                    {% for readblog in read_rank %}
                                                    <li style="margin: 4px 0px">
                                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                                        <span class="read-num">{{ readblog.click_nums }}</span>
                                                        <a href="{% url 'blog_detail' readblog.id %}" target="_blank">{{ readblog.title }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>

                                        </div>
                                         <div class="tab-pane fade " id="new" style="margin-top: 20px">
                                                 <ul class="list" style="font-size: 16px">
                                                    {% for newblog in new_rank %}
                                                    <li style="margin: 4px 0px">
                                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                                        <span class="read-num">{{ newblog.click_nums }}</span>
                                                        <a href="{% url 'blog_detail' newblog.id %}" target="_blank">{{ newblog.title }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                         </div>
                                    </div>
                                </div>

                                 <div class="content">
                                     {% for blog in all_blog.object_list %}
                                         <article class="artile-brief">
                                    <header>
                                        <div class="title-name">
                                            <h1><a href="#">{{ blog.title }}</a></h1>
                                        </div>
                                        <div class="upload-detail">
                                            <span>发表于<time pubdate="pubdate">{{ blog.upload_time }}</time></span>
                                            &nbsp|&nbsp
                                            <span>分类于 {{ blog.category }}</span>
                                        </div>
                                        <h2 class="introduction">引言</h2><p></p>
                                        <div class="intro-detail">
                                               <span>
                                               {{ blog.introduction }}
                                               </span>
                                            </p>
                                        </div>
                                        <div class="button-redirection">

                                                    <a class="btn" href="{% url 'blog_detail' blog.id %}">
                                                          Read more »
                                                        </a>

                                        </div>
                                    </header>
                                     <hr class="dividing">
                                 </article>
                                     {% endfor %}

                                 </div>

                                 <div class="page-divide">
                                     <ul class="pagination pagination-lg">

                                         {% if all_blog.has_previous %}
                                             <li> <a href="?{{ all_blog.previous_page_number.querystring }}">&laquo;</a></li>
                                         {% endif %}
                                         {% for page in all_blog.pages %}
                                             {% if page %}
                                                 {% ifequal page all_blog.number %}
                                                     <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                                 {% else  %}
                                                     <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                                 {% endifequal %}
                                             {% else %}
                                                <li><a href="">...</a></li>
                                             {% endif %}
                                         {% endfor %}
                                         {% if all_blog.has_next %}
                                            <li><a href="?{{ all_blog.next_page_number.querystring }}">&raquo;</a></li>
                                         {% endif %}
                        {#                    <li><a href="#">&laquo;</a></li>#}
                        {#                    <li class="active"><a href="#">1</a></li>#}
                        {#                    <li><a href="#">2</a></li>#}
                        {#                    <li class="active"><a href="#">3</a></li><li><a href="#">4</a></li>#}
                        {#                    <li><a href="#">5</a></li>#}
                        {#                    <li><a href="#">&raquo;</a> </li>#}
                                     </ul>

                                 </div>
                            </div>
                        </div>

                    </div>
            </div>

    <hr>

    <footer style="color: #777777">
    <div class="footer">
        <p class="pull-right">
            <a href="#top"><i class="fa fa-arrow-up fa-lg" style="margin-right: 25px"></i></a>
        </p>
        <div style="text-align: center">
            <p >@2018 centyuan <br/> <span>Welcome</span></p>

        </div>
    </div>
</footer>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实

        var myChart = echarts.init(document.getElementById('visitNum'),'light');

        // 指定图表的配置项和数据
        var d_data={{ data_d|safe }};
        var c_data={{ data_c|safe }};

        var option = {

                xAxis: {
                    type: 'category',
                    data: [d_data[4],d_data[3],d_data[2],d_data[1],d_data[0]]
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [c_data[4],c_data[3],c_data[2],c_data[1],c_data[0]],
                    type: 'line'
                }],

            };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

</body>
</html>