 <div class="top_header">
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="container-fluid">
                                        <div class="navbar-header">

                                        </div>
                                        <div>
                                            <form class="navbar-form navbar-right" role="search" action="/search" method="get">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="keyword" placeholder="搜索">
                                                </div>
                                                <button type="submit" style=" color:#337ab7;background: transparent; border: none"><i class="fa fa-search" aria-hidden="true"></i></button>

                                            </form>
                                            <ul class="nav navbar-nav navbar-right">
                                                 <li><a href="{% url 'login' %}" style="color: #337ab7;text-decoration: none;">登录/注册</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </nav>


                            </div>